<div class="legal-container">
    <h1>Avisos Legales</h1>
  
    <section>
      <h2>1. Titular del Sitio Web</h2>
      <p>
        Nombre del titular: [Nombre y apellidos del titular] <br>
        Dirección de correo electrónico: [Correo electrónico]
      </p>
    </section>
  
    <section>
      <h2>2. Propiedad Intelectual</h2>
      <p>
        El contenido de este sitio web, incluyendo textos, imágenes, gráficos, etc.,
        es propiedad intelectual de [Nombre del titular], a menos que se indique lo contrario.
      </p>
    </section>
  
    <section>
      <h2>3. Política de Privacidad y Cookies</h2>
      <p>
        Este sitio web no utiliza cookies para recopilar información de los usuarios.
        Los únicos datos que se pueden almacenar son aquellos que el usuario proporcione voluntariamente a través de formularios.
        [Describe aquí cómo se manejan los datos personales, si es que se manejan, y la finalidad del tratamiento].
      </p>
    </section>
</div>